<!DOCTYPE html>
<html>
<head>
 <meta charset='utf-8'>
 <meta http-equiv='X-UA-Compatible' content='IE=edge'>
 <title>{{title}}</title>
 {% block head %}
 <link rel="stylesheet" href="/css/global.css" />
 <link rel="stylesheet" href="/css/raleway/raleway.css" />
 <meta name='viewport' content='width=device-width, initial-scale=1'>
 {% endblock %}
</head>
<body>
  <link rel="icon" type="image/png" href="/assets/images/ciel.png">

 {% block navigation %}
 <nav class="navigation">
 <ul>
 <li><a href="/">Accueil</a></li>
 <li><a href="/blog/">Actualités</a></li>
 <li><a href="/proposition">Appel à propositions</a></li>
  <li><a href="/zotero/">Archives</a></li>
   <li><a href="/about/">À propos</a></li>
   <li><a href="/contact/">Nous joindre</a></li>
 </ul>
 </nav>
 {% endblock %}
 
 <div class="contenu ">
 {% block content %}
 {{ content | safe }}
 {% endblock %}
</div>
</body>
</html>