---
layout: layouts/base.html
title: "Archives"
description: "this is the description"
---

<h1>{{title}}</h1>
<p style="text-align: justify;">Afin de souligner les trente ans de ce colloque, ce site a également pour vocation de devenir une archive du temps passé. Nous souhaitons y rassembler et répertorier toutes les traces disponibles de ses différentes éditions. Si vous possédez des documents textuels, audiovisuels ou de tout autre type qui ne figurent pas dans la liste ci-dessous, nous vous invitons à nous contacter.</p>

<ul class="bibliography-list">
 {% for item in zoteroBib %}
    <li class="bibliography-item">
    {{ item.data.title }}
    {% if item.data.creators %}
    {% for creator in item.data.creators %}
        {{ creator.firstName }} {{ creator.lastName }}{% if not loop.last %}, {% endif %},
    {% endfor %}
    {% endif %}
    {{ item.data.date}}
    </li>
 {% endfor %}
</ul>